numpy
pandas
scikit-learn
scipy
icecream
xlrd
tomli-w
zero
category_encoders
imbalanced-learn
kaggle
transformers
datasets
peft==0.9.0
ml_collections
sdmetrics==0.11.1
prdc
rdt
openpyxl
xgboost
tomli
sdv
kaleido
torchmetrics==1.7.0
torchsummary==1.5.1
torchtext==0.17.2
torchtuples==0.2.2
torchvision==0.17.2
Click==7.0
seaborn
nbformat>=4.2.0